@model Web.GestorFinanceiro.App.Models.Despesa

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow border-card">
    <div class="card-header">
        <h3>Apagar Despesa</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                Nome
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NomeDespesa)
            </dd>
            <dt class="col-sm-2">
                Despesa Recorrente?
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Recorrente)
            </dd>
            <dt class="col-sm-2">
                Categoria
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TipoDespesa)
            </dd>
            <dt class="col-sm-2">
                Data da Despesa
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DespesaData)
            </dd>
            <dt class="col-sm-2">
                Valor
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ValorDespesa)
            </dd>
            <dt class="col-sm-2">
                Descrição
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DescricaoDespesa)
            </dd>
            <dt class="col-sm-2">
                Última Alteração
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataCadastroAlteracao)
            </dd>
            <dt class="col-sm-2">
                Operação
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Operacao)
            </dd>
            <dt class="col-sm-2">
                Situação
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Situacao)
            </dd>
        </dl>
        <div class="row">
            <div class="col-sm-1">
                <a asp-action="Index">
                    <input type="submit" value="Voltar" class="btn btn-secondary" />
                </a>
            </div>
            <div class="col-sm-1">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="DespesaId" />
                    <input type="submit" value="Apagar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>